/* Core de Page */

body{
    max-width: 120em;
    min-width: 50em;
    margin: auto;
}


/* Vollet de Navigation */

.volletNavigation{
    background-color: rgb(102, 186, 255);
    padding: 0% 10% 0% 0%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    display: block;
}

.volletNavigation ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.volletNavigation ul li{
    list-style: none;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.volletNavigation ul li img{
    margin-left: -20%;
    height: 50%;
    border: #000 5px solid;
}

.volletNavigation ul li a{
    color: #000;
    margin-left: 1em;
    text-decoration: none;
}

.volletNavigation ul li a:hover{
    color: rgb(161, 132, 0);
    text-decoration: underline;
}


/* 
    Effet en jeu 
*/

/* Carte */

.Monde {
    width: 100%;
    animation: AnimMonde 3s;
    -moz-animation: AnimMonde 3s;
    /* Firefox */
    -webkit-animation: AnimMonde 3s;
    /* Safari et Chrome */
    -o-animation: AnimMonde 3s;
    /* Opera */
}

@keyframes AnimMonde {
    from {
        opacity: 0;
        transform: translateY(+10em);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-moz-keyframes AnimMonde {

    /* sur Firefox */
    from {
        opacity: 0;
        transform: translateY(+10em);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes AnimMonde {

    /* sur Safari et Chrome */
    from {
        opacity: 0;
        transform: translateY(+10em);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-o-keyframes AnimMonde {

    /* sur Opera */
    from {
        opacity: 0;
        transform: translateY(+10em);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* Personnage */

.Perso{
    display: inline;
    position: relative;
    top: -20em;
    left: 80%;
    width: 10%;
    animation: AnimPerso 3s;
    -moz-animation: AnimPerso 3s;
    /* Firefox */
    -webkit-animation: AnimPerso 3s;
    /* Safari et Chrome */
    -o-animation: AnimPerso 3s;
    /* Opera */
}

@keyframes AnimPerso {
    from {
        opacity: 0;
        transform: translateY(+10em);
        transform: translateX(-10em);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }
}

@-moz-keyframes AnimPerso {

    /* sur Firefox */
    from {
        opacity: 0;
        transform: translateY(+10%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes AnimPerso {

    /* sur Safari et Chrome */
    from {
        opacity: 0;
        transform: translateY(+10%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-o-keyframes AnimPerso {

    /* sur Opera */
    from {
        opacity: 0;
        transform: translateY(+10%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}