@import "section/_nav";
@import "section/_game";
@import "section/_Paragraphe";
@import "section/_telechargement";
@import "section/_Mode";
@import "section/_Equipement";

$backgroundColor: #2F4142;
$textColor: #96BDC6;

/* Core de Page */

body {
    max-width: 120em;
    min-width: 50em;
    margin: auto;
    background-color: #96BDC6;
}

section{
    margin-bottom: 5em;
}


.dark {
    padding: 3em 0;
    background-color: $backgroundColor;
}








